<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	<div class="sidebar-module sidebar-module-inset">
		<h4>About</h4>
		<p>This Book Store template is based on standard Twitter Bootstrap
				blog template. 
		</p>
	</div>
	<div class="sidebar-module">
		<h4>Best Sellers</h4>
		<ol class="list-unstyled">
			<li><a href="#">December 2015</a></li>
			<li><a href="#">November 2015</a></li>
			<li><a href="#">October 2015</a></li>
		</ol>
	</div>
	<div class="sidebar-module">
		<h4>By Genre</h4>
		<ol class="list-unstyled">
			<li><a href="#">Sciense Fiction</a></li>
			<li><a href="#">Fantasy</a></li>
			<li><a href="#">Space Saga</a></li>
		</ol>
	</div>
</div><!-- /.blog-sidebar -->
